---
layout: deep-page.liquid
body_classes:
  - docs
---
<div class='grid'>
  <div class='unit four-fifths'>
    <article>
      {% if editable != false %}
        <div class='improve right'>
          <a
            href='https://github.com/OpenINF/open.inf.is/edit/HEAD/{{ page.inputPath }}'
            >Edit</a
          >
        </div>
      {% endif %}
      {{ content }}
    </article>
  </div>
</div>
