---
layout: default.liquid
editable: true
---
<main class='flex-shrink-0'>
  <div class='container'>
    {%- if page.url != '/' -%}
      <h1 class='mt-5'>{{ title }}</h1>
    {%- endif -%}
    {{ content }}
  </div>
</main>
